.image {
  width: 250px;
  float: left;
  margin: 20px;
}

body {
  font-size: small;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  padding: 1rem auto;

}

p {
  margin: 0;
}

h1 {
  text-align: center;
  padding: 1rem;
}

.wordart {
  font-family: Arial, sans-serif;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.wordart.slate {
  transform: scale(1, 1.5);
  -webkit-transform: scale(1, 1.5);
  -moz-transform: scale(1, 1.5);
  -o-transform: scale(1, 1.5);
  -ms-transform: scale(1, 1.5);
}

.wordart.slate .text {
  font-family: Times, 'Times New Roman', serif;
  font-weight: normal;
  color: #2F5485;
  text-shadow: 0.03em 0.03em 0px #B3B3B3;
}

.performance-facts {
  border: 1px solid black;
  margin: 20px;
  float: left;
  width: 280px;
  padding: 0.5rem;

  table {
    border-collapse: collapse;
  }
}

.performance-facts__title {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0 0.25rem 0;
}

.performance-facts__header {
  border-bottom: 10px solid black;
  padding: 0 0 0.25rem 0;
  margin: 0 0 0.5rem 0;

  p {
    margin: 0;
  }
}

.performance-facts__table {
  width: 100%;

  thead tr {

    th,
    td {
      border: 0;
    }
  }

  th,
  td {
    font-weight: normal;
    text-align: left;
    padding: 0.25rem 0;
    border-top: 1px solid black;
    white-space: nowrap;
  }

  td {
    &:last-child {
      text-align: right;
    }
  }

  .blank-cell {
    width: 1rem;
    border-top: 0;
  }

  .thick-row {

    th,
    td {
      border-top-width: 5px;
    }
  }
}

.small-info {
  font-size: 0.7rem;
}

.performance-facts__table--small {
  @extend .performance-facts__table;
  border-bottom: 1px solid #999;
  margin: 0 0 0.5rem 0;

  thead {
    tr {
      border-bottom: 1px solid black;
    }
  }

  td {
    &:last-child {
      text-align: left;
    }
  }

  th,
  td {
    border: 0;
    padding: 0;
  }
}

.performance-facts__table--grid {
  @extend .performance-facts__table;
  margin: 0 0 0.5rem 0;

  td {
    &:last-child {
      text-align: left;

      &::before {
        content: "•";
        font-weight: bold;
        margin: 0 0.25rem 0 0;
      }
    }
  }
}

.text-center {
  text-align: center;
}

.thick-end {
  border-bottom: 10px solid black;
}

.thin-end {
  border-bottom: 1px solid black;
}

#piechart {
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: none;
}

text {
  text-transform: capitalize;
}

.nutrition {
  margin: 0 auto;
}

body .input-group {
  justify-content: center;
  align-items: baseline;
}